@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&family=Noto+Sans+Mende+Kikakui&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --background:#2F2F2F;
  --green-dark: #54B646;
  --green-med:#98F286;
  --green-light:#C5FFB6;
  --violet-dark:#5546B6;
  --violet-med:#BDB8FF;
  --violet-light:#BDB8FF;
  --pink-dark:#B6468A;
  --pink-med:#F286CB;
  --pink-light:#FFB6E8;
  --text-primary:#FFFFFF;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

.menu{
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

.header{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}
.info-text{
  font-family:'Didact Gothic', sans-serif ;
  font-weight:500;
}

